<div class="app-header white box-shadow">
  <div class="navbar navbar-toggleable-sm flex-row align-items-center">
    <a data-toggle="modal" data-target="#aside" class="hidden-lg-up mr-3">
      <i class="material-icons"></i>
    </a>
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a id="pageTitle" class="nav-link" data-toggle="dropdown">
            <span>{{strings.marketSentiment}} {{strings.linearChart}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div ui-view="" class="app-body" id="view">
  <div class="padding2">
    <form name="form" class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="col-lg-2 col-md-6">
        <mat-form-field class="full-width-field">
          <mat-label>{{strings.binSize}}</mat-label>
          <mat-select formControlName="binSize">
            <mat-option *ngFor="let binSize of binSizes" [value]="binSize.value">
              {{binSize.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6">
        <mat-form-field class="full-width-field">
          <input matInput [matDatepicker]="startDatePicker" formControlName="startTime" placeholder="{{strings.startTime}}">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6">
        <mat-form-field class="full-width-field">
          <input matInput [matDatepicker]="endDatePicker" formControlName="endTime" placeholder="{{strings.endTime}}">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <!--          <label>{{strings.endTime}}</label>-->
        </mat-form-field>
      </div>
      <div class="col-lg-2 col-md-6">
        <mat-form-field class="full-width-field">
          <input matInput type="number" placeholder="{{strings.timezone}}" formControlName="timezone">
        </mat-form-field>
      </div>
      <div class="col-lg-2 col-md-6">
        <button mat-raised-button color="accent" type="submit" [disabled]="loading">{{strings.submit}}</button>
      </div>
    </form>
    <div *ngIf="arrow.show" class="box-color pos-rlt" [ngClass]="arrow.type">
      <span class="top b-primary"></span>
      <div class="box-body">{{arrow.message}}</div>
    </div>
    <plotly-plot [data]="graph.data" [layout]="graph.layout" [useResizeHandler]="true"></plotly-plot>
  </div>
</div>
