<div class="app-header white box-shadow">
  <div class="navbar navbar-toggleable-sm flex-row align-items-center">
    <a data-toggle="modal" data-target="#aside" class="hidden-lg-up mr-3">
      <i class="material-icons"></i>
    </a>
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a id="pageTitle" class="nav-link" data-toggle="dropdown">
            <span>{{strings.exchangeInformation}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div ui-view="" class="app-body" id="view">
  <div class="padding2">
    <div *ngIf="arrow.show" class="box-color pos-rlt" [ngClass]="arrow.type">
      <span class="top b-primary"></span>
      <div class="box-body">{{arrow.message}}</div>
    </div>
    <div class="full-width row mx-0 mt-3">
      <div class="col-lg-6 col-md-12 pl-md-0">
        <form name="form" class="full-width" [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width-field">
            <input matInput formControlName="symbol" placeholder="{{strings.symbol}}">
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <input matInput type="number" formControlName="minPrice" placeholder="{{strings.minPrice}}">
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <mat-label>{{strings.itemCount}}</mat-label>
            <mat-select formControlName="itemCount">
              <mat-option *ngFor="let item of itemCounts" [value]="item.value">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit" [disabled]="loading">{{strings.submit}}</button>
        </form>
        <div class="mat-elevation-z8 full-width mt-3">
          <mat-form-field class="full-width-field px-3 py-2">
            <input matInput (keyup)="cryptowatchApplyFilter($event.target.value)" placeholder="{{strings.filter}}">
          </mat-form-field>

          <table mat-table [dataSource]="cryptowatchSource" matSort class="full-width">
            <ng-container matColumnDef="exchange_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{strings.id}}</th>
              <td mat-cell *matCellDef="let element"> {{element.exchange_id}} </td>
            </ng-container>
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{strings.symbol}}</th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{strings.name}}</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="route">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{strings.url}}</th>
              <td mat-cell *matCellDef="let element"> {{element.route}} </td>
            </ng-container>
            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{strings.active}}</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon aria-hidden="false" aria-label="Example home icon">{{element.active ? "check" : "close"}}</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="enable">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? cryptowatchMasterToggle() : null"
                              [checked]="cryptowatchSelection.hasValue() && cryptowatchIsAllSelected()"
                              [indeterminate]="cryptowatchSelection.hasValue() && !cryptowatchIsAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? cryptowatchSelection.toggle(row) : null"
                              [checked]="cryptowatchSelection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="cryptowatchColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: cryptowatchColumns;"></tr>

          </table>

          <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 pr-md-0 pt-sm-3 pt-md-0">
        <div class="mat-elevation-z8 full-width">
          <table class="full-width streaming-table">
            <thead>
            <tr class="">
              <th>Marker</th>
              <th>Price</th>
              <th>Amount</th>
              <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of cryptoExchangeRows" [ngClass]="row['class']">
              <td>{{row['marketName']}}</td>
              <td>{{row['formattedPrice']}}</td>
              <td>{{row['formattedAmount']}}</td>
              <td class="timestamp-cell">{{row['timestamp']}}</td>
            </tr>
            </tbody>
          </table>
<!--          <table mat-table [dataSource]="cryptoExchangeSource" matSort class="full-width">-->
<!--            <ng-container matColumnDef="marker">-->
<!--              <th mat-header-cell *matHeaderCellDef mat-sort-header> Marker</th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.marketName}} </td>-->
<!--            </ng-container>-->
<!--            <ng-container matColumnDef="price">-->
<!--              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.price1}} </td>-->
<!--            </ng-container>-->
<!--            <ng-container matColumnDef="amount">-->
<!--              <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount</th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.amount1}} </td>-->
<!--            </ng-container>-->
<!--            <ng-container matColumnDef="timestamp">-->
<!--              <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp</th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>-->
<!--            </ng-container>-->

<!--            <tr mat-header-row *matHeaderRowDef="cryptoExchangeColumns"></tr>-->
<!--            <tr mat-row *matRowDef="let row; columns: cryptoExchangeColumns;"></tr>-->
<!--          </table>-->
        </div>
      </div>
    </div>
  </div>
</div>
