<div class="app-header white box-shadow">
  <div class="navbar navbar-toggleable-sm flex-row align-items-center">
    <a data-toggle="modal" data-target="#aside" class="hidden-lg-up mr-3">
      <i class="material-icons"></i>
    </a>
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a id="pageTitle" class="nav-link" data-toggle="dropdown">
            <span>{{pageTitle}}</span>
          </a>
        </li>
      </ul>
    </div>
    <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <ul class="nav navbar-nav ml-auto flex-row">
        <li class="nav-item">
          <div class="form-group">
            <input type='text' class="form-control" ui-jp="datetimepicker" ui-options="{
              icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
              }
            }">
          </div>
        </li>
        <li class="nav-item">
          <button type="submit" class="btn btn-fw primary" [disabled]="loading">{{strings.refresh}}</button>
        </li>
      </ul>
    </form>

    <!-- / navbar right -->
  </div>
</div>
<div ui-view="" class="app-body" id="view">
  <div class="padding">

  </div>
</div>
