<div id="aside" class="app-aside modal nav-dropdown">
  <!-- fluid app aside -->
  <div class="left navside dark dk" data-layout="column">
    <div class="navbar no-radius">
      <!-- brand -->
      <a class="navbar-brand">
        <img src="assets/images/logo.png" alt="." class="hide">
        <span class="hidden-folded inline">{{strings.siteName}}</span>
      </a>
      <!-- / brand -->
    </div>
    <div class="hide-scroll" data-flex>
      <nav class="scroll nav-light">
        <ul class="nav" ui-nav>
          <li>
            <a routerLink="/app">
              <span class="nav-icon">
                <i class="fa fa-dashboard"></i>
              </span>
              <span class="nav-text">{{strings.dashboard}}</span>
            </a>
          </li>

          <li>
            <a>
              <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
              </span>
              <span class="nav-icon">
                <i class="fa fa-list-alt"></i>
              </span>
              <span class="nav-text">{{strings.general}}</span>
            </a>
            <ul class="nav-sub">
              <li>
                <a routerLink="/app/general/price-chart">
                  <span class="nav-text">{{strings.priceChart}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/app/general/volume-chart">
                  <span class="nav-text">{{strings.volumeChart}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/app/general/vwap-chart">
                  <span class="nav-text">{{strings.vwapChart}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/app/general/trades-chart">
                  <span class="nav-text">{{strings.currentTradeChart}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/app/general/ohlc-chart">
                  <span class="nav-text">{{strings.ohlcChart}}</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a>
              <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
              </span>
              <span class="nav-icon">
                <i class="fa fa-eye"></i>
              </span>
              <span class="nav-text">{{strings.hiddenOrder}}</span>
            </a>
            <ul class="nav-sub">
              <li>
                <a routerLink="/app/hidden-order/daily-chart">
                  <span class="nav-text">{{strings.dailyChart}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/app/hidden-order/yearly-chart">
                  <span class="nav-text">{{strings.yearlyChart}}</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a routerLink="/app/volatility-chart">
              <span class="nav-icon">
                <i class="fa fa-cloud">
                </i>
              </span>
              <span class="nav-text">{{strings.volatilityChart}}</span>
            </a>
          </li>

          <li>
            <a>
              <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
              </span>
              <span class="nav-icon">
                <i class="fa fa-table"></i>
              </span>
              <span class="nav-text">{{strings.marketSentiment}}</span>
            </a>
            <ul class="nav-sub">
              <li>
                <a routerLink="/app/market-sentiment/linear">
                  <span class="nav-text">{{strings.linearChart}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/app/market-sentiment/logarithmic">
                  <span class="nav-text">{{strings.logarithmicChart}}</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a routerLink="/app/exchange-info">
              <span class="nav-icon">
                <i class="fa fa-exchange">
                </i>
              </span>
              <span class="nav-text">{{strings.exchangeInformation}}</span>
            </a>
          </li>

          <li>
            <a>
              <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
              </span>
              <span class="nav-icon">
                <i class="fa fa-desktop"></i>
              </span>
              <span class="nav-text">{{strings.deribitInformation}}</span>
            </a>
            <ul class="nav-sub">
              <li>
                <a routerLink="/app/deribit/option1">
                  <span class="nav-text">{{strings.option1}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/app/deribit/option2">
                  <span class="nav-text">{{strings.option2}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/app/deribit/option3">
                  <span class="nav-text">{{strings.option3}}</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a routerLink="/app/settings">
              <span class="nav-icon">
                <i class="fa fa-spin">
                </i>
              </span>
              <span class="nav-text">{{strings.settings}}</span>
            </a>
          </li>

          <li>
            <a (click)="onSignOut()">
              <span class="nav-icon">
                <i class="fa fa-sign-out">
                </i>
              </span>
              <span class="nav-text">{{strings.signOut}}</span>
            </a>
          </li>

        </ul>
      </nav>
    </div>
    <div class="b-t">
      <div class="nav-fold">
        <a>
          <span class="pull-left">
            <img src="assets/images/avatar.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear hidden-folded p-x">
            <span class="block _500">{{user.firstName}} {{user.lastName}}</span>
            <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="content" class="app-content box-shadow-z0" role="main">
  <router-outlet></router-outlet>
<!--  <div class="app-footer">-->
<!--    <div class="p-2 text-xs">-->
<!--      <div class="pull-right text-muted py-1">-->
<!--        &copy; Copyright <strong>blockreducer.com</strong> <span-->
<!--        class="hidden-xs-down">- {{strings.builtWithCryptocurrency}}</span>-->
<!--&lt;!&ndash;        <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
